#title{
    background-color:#2C3639;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: 'Festive', cursive;
font-family: 'Montserrat', sans-serif;
  
    font-size:3rem;
    line-height: 1.5;
}
h3{
    font-family: 'Festive', cursive;
font-family: 'Montserrat', sans-serif;
}
fa-solid, .fas {
    padding-left:20%; 
}
.logo{
    padding-left:200px ;
    height: 80%;
}
    
.navbar-brand{
    font-size: 2.5rem;
}
em{
    font-family: "'Montserrat-bold', sans-serif";
    color: aliceblue;
    font-size: 1.5rem;
}
.upr{
    font-family: "'Montserrat-bold', sans-serif";
    color: aliceblue;
    font-size: 3rem;
    line-height: 1.5;
}
p{
    color: gray;
}
#features{
    padding : 7% 15% ;

}
.icon{
    color: #3F4E4F;
    margin: 1rem;
}
.icon:hover{
    color:#2C3639;
}
/*testimonial section*/
#testimonials{
    padding : 7% 15%;
    text-align:center;
    color: aliceblue;
    background-color: #2C3639;
    
}
.pricing{
    padding-left: 35%;
}
.pricing-p{
    padding-left: 28%;
}
.xo{
    padding-left: 50px;
}
.t-image{
    width:30%;
    border-radius: 100%;
    margin:30px;
}
#press{
    background-color: #2C3639;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}
#pricing{
    padding: 80px;
}
.pricing-p{
    font-size:1.5rem;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pricing-column{
    padding:3%;
}
#cta{
    padding-left: 35%;
}
.button1{
    padding-left: 15%;
}
#footer{
    padding-left: 45%;
}